.container-chute {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.container-chute h1 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.container-chute input {
    width: 353px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin: 0 15px;
}

.container-chute button {
    width: 100px;
    height: 40px;
    background: #e1ecf4;
    border: 1px solid #7aa7c7;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #3c76a1;
    cursor: pointer;
}

@media (max-width: 850px) {
    .container-chute {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .container-chute input {
        margin: 20px 0;
    }
}
